/* =====================
=========================
AUTHOR/AUTEUR:
    EDDY KHENTHAVONG
    LÉO LECOUFLE
=========================
====================== */

/* color palette
blanc/gris  #ffffff
jaune       #FEB249
turquoise   #53D3D1
bleu        #002447  */
html body {
  background-color: #002447;
}
/* NAVIGATION */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #002447;
  padding: 0 1rem;
  z-index: 100;
}

header .wrapper {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .button {
  margin-right: 1rem;
}

.header_logo {
  width: 139px;
  height: 50px;
  cursor: pointer;
}

.header_nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_nav li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1.25rem;
}

.header_nav li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}

.header_nav li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #FEB249;
  opacity: 0;
  transition: all ease 200ms;
}

.header_nav li a:hover {
  color: #FEB249;
}

.header_nav li a:hover::before {
  opacity: 1;
}

header .toggle-menu {
  display: none;
  margin-right: 2rem;
  background: transparent;
  border: 0;
}

button {
  background-color: #FEB249;
  color: white;
  border-radius: 12px;
  border: solid #002447 2px;
  width: 100px;
  height: 40px;
}

button:hover {
  color: #FEB249;
  background-color: white;
  transition: all ease 400ms;
}

.linkbutton {
  text-decoration: none;
  color: white;
}

.linkbutton:hover {
  text-decoration: none;
  color: #FEB249;
}

/* RESPONSIVE NAVIGATION */

@media (max-width: 1080px) {
  .header_nav {
    top: 5rem;
    box-shadow: 0px 2rem 10rem 1px hsl(233, 26%, 24%);
    border-radius: 0.5rem;
    z-index: -1;
    background: white;
    position: fixed;
    width: calc(100vw - 4rem);
    opacity: 0;
    transition: all 200ms ease;
    transform: scale(0.85) translateY(-6rem);
    flex-direction: column;
    pointer-events: none;
    background-color: #002447;
    color: #FEB249;
  }

  .header_nav[aria-hidden="false"] {
    transform: scale(1) translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .close-btn { display: none; }

  .header_nav li {
    font-weight: bold;
    margin: 2rem;
  }
  
  .header_nav a {
    color: hsl(233, 26%, 24%);
    margin: auto;
  }

  .header_nav a::before {
    display: none;
  }

  header .button {
    display: none;
    color: #FEB249;
  }

  header .toggle-menu {
    display: block;
  }
}

p {
  color: white;
}

/* section profil */

#profil {
  background-color: #003364;
  text-align: center;
  margin: 3em auto 5em auto;
  padding-bottom: 20px;
}

.img-profil {
  border: black solid 4px;
  border-radius: 10%;
}

li {
  list-style: none;
  color: white;
}

p {
  font-size: 25px;
}

/* section compétences */

#competences {
  background-color: #003364;
  margin: 5em auto;
  text-align: center;
  padding-bottom: 20px;
}

.icones {
  color: #FEB249;
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.progress1 { 
  padding: 6px;
  border-radius: 30px;
  background: rgba(200, 200, 200, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}


.progress-bar1 { 
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
  width: 50%;
  background-color:#FEB249;
  animation: progressAnimation1 4s;
}

@keyframes progressAnimation1 {
  0% {
    width: 5%;
    background-color: #FEB249;
  }
  50% {
    width: 50%;
    background-color:#FEB249;
  }
}

.progress2 { 
  padding: 6px;
  border-radius: 30px;
  background: rgba(200, 200, 200, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 { 
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 50%;
  background-color:#FEB249;
  animation: progressAnimation2 4s;
}

@keyframes progressAnimation2 {
  0% {
    width: 5%;
    background-color: #FEB249;
  }
  50% {
    width: 50%; 
    background-color:#FEB249;
  }
}

.progress3 { 
  padding: 6px;
  border-radius: 30px;
  background: rgba(200, 200, 200, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 { 
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar3 {
  width: 30%; /* changer le pourcentage */
  background-color:#FEB249;
  animation: progressAnimation3 4s; /* changer le 1 par un autre chiffre */
}

@keyframes progressAnimation3 { /* changer le 1 par un autre chiffre */
  0% {
    width: 5%;
    background-color: #FEB249;
  }
  30% { /* changer le pourcentage */
    width: 30%; /* changer le pourcentage */
    background-color:#FEB249;
  }
}

h4 {
  color: #FEB249;
}

.softskills {
  font-size: 30px;
}


/* Eddy's part is from "formation" to "hobbies" */

h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em;
    padding: 1em 0;
    color: #FEB249;
}

h2 {
    color: #FEB249;
}

/* section formation */

#formation {
    background-color: #003364;
    margin: 5em auto;
    text-align: center;
    padding-bottom: 20px;
}

/* section experience */

#experience {
    background-color: #003364;
    margin: 5em auto;
    text-align: center;
    padding-bottom: 20px;
}

/* section hobbies */

#hobbies {
    background-color: #003364;
    margin: 5em auto;
    text-align: center;
    padding-bottom: 20px;
}

#contactForm {
  background-color: #003364;
  margin: 5em auto;
  text-align: center;
  padding-bottom: 20px;
}

input {
  border: #FEB249 solid 2px;
  border-radius: 30px;
  width: 15rem;
  height: 2.5rem;
  cursor: pointer;
}

#submitButton {
  background-color: #FEB249;
  color: white;
  border: #FEB249;
  width: 8rem;
  height: 2.5rem;
}

#submitButton:hover {
  opacity: 0.7;
  transition-duration: 0.8s;
}

label {
  color: white;
}

#message {
  border: #FEB249 solid 2px;
}

/* footer */

.icones-footer {
  font-size: 50px;
  color: white;
  padding-bottom: 50px;
}

.icones-footer:hover {
  color: #FEB249;
  transform: scale(1.2);
  transition: all ease 0.8s;
}

#h1submit {
  font: 30px;
  color: #FEB249;
}